body{
    font-family: arial;
}

.header{
    background-color: lightgreen;
}

.main{
    background-color: lightseagreen;
}

.footer{
    background-color: lightgreen;
    padding: 1em;
}

.side-bar{
    float: left;
    width: 25%;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.side-bar {
    padding: 1em;
}

.content {
    padding: 1em;
}